*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.main{
    width: 50%;
    margin: 0 auto;
}
.container{
    padding: 200px 0;
    max-width: 500px;
    text-align: center;
}
#operators{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 3rem;
    gap: 5px;
}
#clear{
    grid-column: 1 / 3;
}
#zero{
    grid-column: 1 / 3;
}
#equals{
    grid-column: 4;
    grid-row: 4 / 6;
}
.display{
    background-color: rgb(49, 49, 49);
    height: 2rem;
    color: white;
    text-align: right;
    padding: .2rem .5rem;
}
#output{
    background-color:rgb(226, 219, 219);
    color: black;
    vertical-align: middle;
}
button{
    border: none;
}
button:hover,:focus{
    background-color: rgb(255, 200, 200);
}